* {
    margin: 0px;
    padding:0%;
    box-sizing: border-box;
}


body.homepage {
    background-image: url(https://img.freepik.com/premium-vector/italian-cuisine-food-line-simple-doodle-outline-style-vector-stock-black-white-illustration_399998-95.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.header {
    text-align: center;
    background-color: rgb(240, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    border: 100px;
    border-style: solid;
    border-width: 20px;
    border-left-color: #212fad;
    border-right-color: #ad2144;
    border-top-color: #b3c041;
    border-bottom-color: #21ad4b;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 20px;
    border-bottom-width: 20px;


}

ul.link {
    text-align: center;
    list-style-type:circle;
    background-color: rgba(0, 8, 6, 0.7);
    padding: 20px;
    font-size: larger;
    font-stretch: expanded;
    
    
}

li.homepage {
    background:rgba(31, 10, 4, 0.7);
    color: rgb(139, 125, 0);
    padding: 25px;
    display:inline-block;
    text-align: center;
    border: 200px;
    
    
}
.tomatoes-link {
    color: rgb(201, 14, 14);
}
.peaches-link {
    color: rgb(255, 174, 0);
    
}
.pesto-link {
    color: rgb(15, 141, 25);
}

.peach-text {
  flex: 1;
  border: 10px solid;
  padding: 100px;
  border-left-color: #212fad;
  border-right-color: #ad2144;
  border-top-color: #b3c041;
  border-bottom-color: #21ad4b;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;

   }


  .container {
    display:flex;
    justify-content: space-between;
    align-items:end;
}